<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>添加充值档次-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='游戏管理 > 添加充值档次';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">添加充值档次</div>
                    </div>
                    <form  method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tbody>
                            <tr>
                                <td width="100"></td>
                                <td><div style="color: red;"><?php echo $error; ?></div></td>
                            </tr>
                            <tr>
                                <td width="100" style="height: 50px;">类型：</td>
                                <td>
                                    <select id="type" name="type">
                                        <option value="1" <?php if($shop_data['type']==0){echo 'selected = "selected"';} ?>>金币</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="100">名称：</td>
                                <td><input class="input" type="text" name="name" id="name"  value="<?php echo $shop_data['expire_time']; ?>"/></td>
                            </tr>
                            <tr>
                                <td width="100">价格RMB：</td>
                                <td><input class="input" type="text" name="price" id="price" value="<?php echo $shop_data['price']; ?>"/></td>
                            </tr>
                            <tr>
                                <td width="100">获得货币数量：</td>
                                <td><input class="input" type="text" name="coin" id="coin" value="<?php echo $shop_data['coin']; ?>"/></td>
                            </tr>
                            <tr>
                                <td width="100"></td>
                                <td><input type="submit" value="提交" class="btn"/></td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
