<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>银行记录-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='游戏管理 > 银行记录';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">银行记录</div>
                    </div>
                    <form id="search_form" method="get">
                        <input type="text" class="input" name="search_key" value="<?php echo $search_key; ?>" style="width: 200px;"  placeholder="根据用户ID查找"/> 
                        <input type="submit" value="搜索"  class="btn"/>
                    </form>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tr>
                            <td>时间</td>
                            <td>用户ID</td>
                            <td>用户昵称</td>
                            <td>交易类型</td>
                            <td>赠送人或者被赠送人ID/昵称</td>
                            <td>金币数目</td>
                            <td>银行金币总数</td>
                        </tr>
                        <?php foreach($list as $n => $data): ?>
                        <tr id="tr_user_<?php echo $data['mailid']; ?>">
                            <td><?php echo $data['create_time']; ?></td>
                            <td><?php echo $data['uid']; ?></td>
                            <td><?php echo $data['nickname']; ?></td>
                            <td><?php echo $data['type_name']; ?></td>
                            <td><?php echo $data['from_or_to_uid']; ?>/<?php echo $data['from_nickname']; ?></td>
                            <td><?php echo $data['coinnum']; ?></td> 
                            <td><?php echo $data['present_coinnum']; ?></td> 
                        </tr>
                        <?php endforeach; ?>
                    </table>
                    <div class="pages"><?php echo $page; ?></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
