<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>发送道具-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='游戏管理 > 发送道具';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">发送道具</div>
                    </div>
                    <form  method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tbody>
                            <tr>
                                <td width="100"></td>
                                <td><div style="color: red;"><?php echo $error; ?></div></td>
                            </tr>
                            <tr>
                                <td width="100">用户ID：</td>
                                <td><input class="input" type="text" name="uid" id="uid" title="用户id" maxlength="20" value=""/></td>
                            </tr>
                            <tr>
                                <td width="100">金币数量：</td>
                                <td><input class="input" type="text" name="gold_bean" id="gold_bean" title="金币数量" maxlength="20" value=""/></td>
                            </tr>
<!--                            <tr>
                                <td width="100">时光豆数量：</td>
                                <td><input class="input" type="text" name="silver_bean" id="silver_bean" title="时光豆数量" maxlength="20" value=""/></td>
                            </tr>-->
                            <tr>
                                <td width="100">钻石数量：</td>
                                <td><input class="input" type="text" name="diamond" id="diamond" title="钻石数量" maxlength="20" value=""/></td>
                            </tr>
                            <tr>
                                <td width="100"></td>
                                <td><input type="submit" value="提交" class="btn"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
