<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>充值档次列表-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='游戏管理 > 充值档次列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">充值档次列表</div>
                    </div>
                    <div><input type="button" class="btn"  value="添加充值档次" onclick="location='<?php echo $addUrl; ?>'"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tr>
                            <td >id</td>
                            <td>类型</td>
                            <td>名称</td>
                            <td>价格RMB</td>
                            <td>获得货币数量</td>
                            <td>操作</td>
                        </tr>
                        <?php foreach($shopList as $n => $data): ?>
                        <tr id="tr_user_<?php echo $data['id']; ?>">
                            <td><?php echo $data['id']; ?></td>
                            <td><?php if($data['type']==0){echo '金币';}elseif($data['type']==2){echo '钻石';} ?></td>
                            <td><?php echo $data['name']; ?></td>
                            <td><?php echo $data['price']; ?></td>
                            <td><?php echo $data['coin']; ?></td>
                            <td>[ <a link="<?php echo U('game/delshop/',array('id'=>$data['id'])); ?>" href="javascript:void(0)" name="<?php echo $data['id']; ?>" class="del">删除 </a> ]</td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
        </script>
        <include file="Common:foot" />
    </body>
</html>
