<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>计划列表-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='计划管理 > 计划列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">计划列表</div>
                    </div>
                    <form id="search_form" method="get">
                        <input type="text" class="input" name="search_key" value="<?php echo $search_key; ?>" style="width: 200px;"  placeholder="根据登陆账号或者用户ID查找"/>
                       状态： <select id="status" name="status">
                                <option value="0"  <?php if($status==0){echo 'selected = "selected"';} ?>>---全部---</option>
                                <option value="1" <?php if($status==1){echo 'selected = "selected"';} ?>>计划完成</option>
                                <option value="2" <?php if($status==2){echo 'selected = "selected"';} ?>>用户终止计划</option>
                                <option value="3" <?php if($status==3){echo 'selected = "selected"';} ?>>执行中</option>
                                <option value="4" <?php if($status==4){echo 'selected = "selected"';} ?>>待执行</option>
                                <option value="5" <?php if($status==5){echo 'selected = "selected"';} ?>>计划中断</option>
                            </select>
                        通道：<select id="channel_id" name="channel_id">
                                <option value="0"  <?php if($channel_id==0){echo 'selected = "selected"';} ?>>---全部---</option>
                                <?php foreach($channel_list as $n => $cl): ?>
                                <option value="<?php echo $cl['id']; ?>"  <?php if($channel_id==$cl['id']){echo 'selected = "selected"';} ?>><?php echo $cl['name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        <input type="submit" class="btn" value="搜索" />
                    </form>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tr>
                            <td>计划ID</td>
                            <td>用户ID</td>
                            <td>登陆账号</td>
                            <td>商户名称</td>
                            <td>通道名称</td>
                            <td>金额</td>
                            <td>期数</td>
                            <!-- <td>每期扣款额度</td>
                            <td>每期手续费</td> -->
                            <td>交易费率</td>
                            <td>银行卡</td>
                            <td>任务开始时间</td>
                            <td>任务结束时间</td>
                            <td>添加时间</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                        <?php if(!empty($plan_list)): ?>
                        <?php foreach($plan_list as $n => $data): ?>
                        <tr id="tr_user_<?php echo $data['id']; ?>">
                            <td><?php echo $data['id']; ?></td>
                            <td><?php echo $data['u_id']; ?></td>
                            <td><?php echo $data['user_loginid']; ?></td>
                            <td><?php echo $data['user_name']; ?></td>
                            <td><?php echo $data['channel_name']; ?></td>
                            <td><?php echo $data['amount']; ?></td>
                            <td><?php echo $data['periods']; ?></td>
                            <!-- <td><?php echo $data['p_amount']; ?></td>
                            <td><?php echo $data['p_fee']; ?></td> -->
                            <td><?php echo ($data['fee']*100).'%+'.$data['close_rate'];?> </td>
                            <td><?php echo $data['bank_name'].'('.$data['card_no'].')'; ?></td>
                            <td><?php echo $data['channel_start_time']; ?></td>
                            <td><?php echo $data['channel_end_time']; ?></td>
                            <td><?php echo $data['add_time']; ?></td>
                            <td><?php echo $data['status_name']; ?></td>
                            <td>[<a href="<?php echo U('plan/info/',['id'=>$data['id']]); ?>" title="查看计划详情">查看计划详情</a>]<br>
                            <?php if($data['status']!=1||$data['status']!=2){ ?>[<a href="<?php echo U('plan/cancel/',['id'=>$data['id']]); ?>"  onClick="return confirm('确定取消计划?');" title="取消计划">取消计划</a>]<?php } ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </table>
                    <div class="pages"><?php echo $page; ?></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>