<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>用户列表-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='用户管理 > 用户列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">用户列表</div>
                    </div>
                    <form id="search_form" method="get">
                        <input type="text" class="input" name="search_key" value="<?php echo $datas['search_key']; ?>" style="width: 200px;"  placeholder="根据用户登陆账号或者用户ID查找"/> 
                        <input type="submit" class="btn" value="搜索" />
                    </form>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <tbody>
                                <tr>
                                <td>用户ID</td>
                            	<td>上级用户ID</td>
                                <td>登陆账号</td>
                                <td>用户名称</td>
                                <td>真实姓名</td>
                                <td>微信昵称</td>
                                <td>最后登陆时间</td>
                                <?php if($admin_info["aid"]==1): ?><td></td><?php endif; ?>
                            </tr>
                            <?php if(!empty($datas["list"])): ?>
                            <?php foreach($datas["list"] as $n => $data): ?>
                            <tr id="tr_user_<?php echo $data['u_id']; ?>">
                                <td><?php echo str_replace($datas['search_key'], '<span style="color:red;">' . $datas['search_key'] . '</span>', $data['u_id']); ?></td>
                                <td><?php echo $data['superior_id']; ?></td>
                                <td><?php echo str_replace($datas['search_key'], '<span style="color:red;">' . $datas['search_key'] . '</span>', $data['login_id']); ?></td>
                                <td><?php echo $data['u_name']; ?></td>
                                <td><?php echo $data['name']; ?></td>
                                <td><?php echo $data['wx_name']; ?></td>
                                <td><?php echo $data['lasttime']; ?></td>
                                <?php if($admin_info["aid"]==1): ?><td><a href='<?php echo U("member/sendvip",["u_id"=>$data["u_id"]]); ?>'>赠送VIP</a></td><?php endif; ?>
                            </tr>
                            <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <div class="pages"><?php echo $page; ?></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
