<base href="{$site.WEB_ROOT}"/>
<link rel="stylesheet" href="/src/admin/css/base.css">
<link rel="stylesheet" href="/src/admin/css/layout.css">
<link rel="stylesheet" href="/src/admin/css/common/base.css">
<link rel="stylesheet" href="/src/admin/css/common/layout.css">
<link rel="stylesheet" href="/src/admin/js/asyncbox/skins/default.css">
<link rel="stylesheet" href="/src/css/page.css">
<script src="/src/admin/js/jquery-1.9.0.min.js"></script>
<script src="/src/admin/js/jquery.lazyload.js"></script>
<script src="/src/admin/js/jquery.form.js"></script>
<script src="/src/admin/js/asyncbox/asyncbox.js"></script>
<script src="/src/admin/js/functions.js"></script>
<script src="/src/admin/js/base.js"></script>
<script src="/src/admin/js/date.js"></script>