<?php include T('Common/header'); ?>
    <form action="{:U('orderInfo/edit_orderInfo')}" id="proForm" method="post">
    <div id="center">
        <div class="button">
            <span class="button-blue50" onclick="history.go(-1);">返回</span>
        </div>
        <input type="hidden" name="orderNumber" id="orderNumber" value="{$orderInfo.order_number}" />
        <input type="hidden" name="orderStatus" id="orderStatus" value="{$orderInfo.status}" />
        <div class="details">
            <ul class="list-group">
               <li class="list-group-item">
                    订单号：
                   <if condition="$orderInfo['order_number']" >{$orderInfo.order_number}<else />------</if>
               </li>
               <li class="list-group-item">
                    收货人：
                   <if condition="$orderInfo['shipping_name']" >{$orderInfo.shipping_name}</if>
               </li>
               <li class="list-group-item">
                    电话：
                   <if condition="$orderInfo['shipping_phone']" >{$orderInfo.shipping_phone}</if>
               </li>
               <li class="list-group-item">
                    邮箱：
                   <if condition="$orderInfo['shipping_email']" >{$orderInfo.shipping_email}</if>
               </li>
               <li class="list-group-item">
                    邮编：
                   <if condition="$orderInfo['shipping_postcode']" >{$orderInfo.shipping_postcode}</if>
               </li>
               <li class="list-group-item">
                   地址：
                  <if condition="$orderInfo['shipping_address']" >{$orderInfo.shipping_address}</if>
               </li>
               <li class="list-group-item">
                    总金额：
                   <if condition="$orderInfo['total'] neq '0.00'" >￥{$orderInfo.total}<else />------</if>
               </li>
               <li class="list-group-item">
                    订单状态：
                   {$orderInfo.status_name}
               </li>
               <li class="list-group-item">
                    下单时间：
                   {$orderInfo.add_date}
               </li>
               <li class="list-group-item">
                    修改时间：
                   {$orderInfo.edit_date}
               </li>
               <li class="list-group-item">
                    备注：
                   {$orderInfo.remark}
               </li>
            </ul>
        </div>
        
        <div class="form">
        <h3>订单商品</h3>
            <table class="table table-hover" style="margin-top: 10px;">
                <tr>
                    <th>商品名称</th>
                    <th>商品选项</th>
                    <th>单价(元)</th>
                    <th>数量</th>
                </tr>
                <volist name='orderInfo.order_product' id='op' key='k'>
                <tr>
                    <th>{$op.title}</th>
                    <th><if condition="$op['sku_name']" >{$op.sku_name}<else />------</if></th>
                    <th>￥{$op.price}</th>
                    <th>{$op.quantity}</th>
                </tr>
                </volist>
            </table>
        </div>
        <div class="form" style="margin: 50px 0 50px 0;">
        <h3>订单操作历史</h3>
          <table class="table table-hover" style="margin-top: 10px;">
              <tr>
                  <th>订单状态</th>
                  <th>描述</th>
                  <th>操作人</th>
                  <th>日期</th>
              </tr>
              <volist name='orderInfo.order_history' id='oh' key='k'>
              <tr>
                  <th>{$oh.order_status}</th>
                  <th>{$oh.comment}</th>
                  <th>{$oh.actor_user}</th>
                  <th>{$oh.add_date}</th>
              </tr>
              </volist>
          </table>
        </div>
        <div class="form" style="margin: 50px 0 250px 0;">
          <h3>修改订单状态</h3>
          <div class="div1" style="margin-top: 10px;">
            <span>状态</span>
            <select class="select150" name="orderStatusList" id="orderStatusList">
                <volist name="statusList" id="sl">
                    <option value="{$key}" <?php if($orderInfo["status"]==$key){?> selected = "selected" <?php }?>>{$sl}</option>
                </volist>
            </select>
            <div class="button-blue110 seek" id="statusSave">保存</div>
            <div style="margin-top: 10px;color: red;" id="error"></div>
        </div>
        </div>
    </div>
    </form>
<?php include T('Common/footer'); ?>
<script type="text/javascript">
  $("#statusSave").click(function(event) {
        var status = $("#orderStatusList").val();
        var sts = $("#orderStatus").val();
        if(status==sts){
          return false;
        }
        if (confirm("确定要修改订单状态？")) {
            var order_number = $("#orderNumber").val();
            $.post("/admin.php/order/updStatus",{order_number:order_number,status_id:status},function(result){
              if(result["status"]==200){
                  $("#error").html("修改成功");
              }else{
                  $("#error").html(result["info"]);
              }
              
            });
        }
    });
</script>