.instr{
    margin-left: -18px;
    margin-right: 10px;
    padding-bottom: 20px;
}
.instr li{
    margin-top: 15px;
}
.nos{
    width: 100%;
    height: 100%;
    text-align: center;
}
.nos img{
    width: 35%;
    margin-top: 25%;
}
.ddlist .order-red{
    background-image: url("/src/img/h5/order-red.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;

}
.ddlist .order-blue{
    background-image: url("/src/img/h5/order-blue.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.ddlist .order-purple{
    background-image: url("/src/img/h5/order-purple.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.ddlist .red{
    background-image: url("/src/img/h5/red.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.ddlist .blue{
    background-image: url("/src/img/h5/blue.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.ddlist .yellow{
    background-image: url("/src/img/h5/yellow.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.ddlist table{
    width:100%;
    height: 120px;
    margin: 5px 15px 5px 7%;
}
/*.ddlist table img{
    width:50px;
    height: 50px;
}*/
.ddlist table .name{
    font-size: 20px;
}
.tx16{
    font-size: 16px;
}
.tx12{
    font-size: 12px;
}
.tx14{
    font-size: 14px;
}
.imgtd{
    text-align: center;
}
.padd10{
    padding-top: 10px;
}
.padd5{
    padding-top: 5px;
}
.tablecolor-fff{
    color: #fff;
}
.tablecolor-777676{
    color: #777676;
}
.tablecolor-000{
    color: #000;
}
.tablecolor-red{
    color: red;
}
.custombg{
    background-image: url("/src/img/h5/bg.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
.f-blue-ul{
    list-style-type:square;
    list-style-image: url("/src/img/h5/f-blue.png");
    margin: 15px 10px 10px 0px;
    font-size: 18px;
}
.f-yellow-ul{
    list-style-type:square;
    list-style-image: url("/src/img/h5/f-yellow.png");
    margin: 15px 10px 10px 0px;
    font-size: 18px;
}
.f-red-ul{
    list-style-type:square;
    list-style-image: url("/src/img/h5/f-red.png");
    margin: 15px 10px 10px 0px;
    font-size: 18px;
}
.game-blue{
    background-image: url("/src/img/h5/game-blue.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
    color: #fff;
    padding-left: 20px;
}
.game-yellow{
    background-image: url("/src/img/h5/game-yellow.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
    color: #fff;
    padding-left: 20px;
}
.game-red{
    background-image: url("/src/img/h5/game-red.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
    color: #fff;
    padding-left: 20px;
}
.jj-bg{
    background-image: url("/src/img/h5/jj-bg.png");background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
    color: #7e7e7e;
}